.navbar {
    transition: background-color 0.3s ease-in-out;
}
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
.card {
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.navbar.scrolled {
    background-color: #181818!important;
}
.navbar.scrolled .nav-link, 
.navbar.scrolled .navbar-brand {
    color: white !important;
}
.navbar.scrolled .btn-dark {
    background-color: white !important;
    color: black !important;
    border-color: white !important;
}
@media (max-width: 990px) and (min-width: 768px) {
.col-md-4 {
min-width: 320px; 
}
}
@media (max-width:1070px) {
#home h1{
margin-top: -50px;
}
#home p{
font-size:20px;
}}
#loading-screen {
position: fixed;
width: 100%;
height: 100vh;
background: rgb(144, 235, 235);
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
transition: opacity 0.8s ease-in-out, visibility 0.9s ease-in-out;
}

#loading-screen.hidden {
opacity: 0;
visibility: hidden;
}

#content {
opacity: 0;
transition: opacity 1s ease-in-out;
}
#content.show {
opacity: 1;
}
.btn-dark{
transition:background-color 0.4s ease-in-out,color 0.4s ease-in-out,border-color 0.4s ease-in-out;
}
.btn-dark:hover {
background-color: rgba(255, 255, 255, 0) ;
color: black ;
border-color: black; 
}
.navbar .nav-link{
transition: color 0.4s ease-in-out,transform 0.4s ease-in-out;
}
.navbar .nav-link:hover {
color: rgb(0, 0, 0);
transform: scale(1.1); 
}
.btn-lg{
transition: transform 0.4s ease-in-out,background-color 0.4s ease-in-out;
}
.btn-lg:hover {
transform: scale(1.05);

}
.cursor{
    background-color:transparent;
    border: 2px solid rgba(110, 208, 233, 0.685);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  position: fixed;
  transform: translate(-50%,-50%);
    pointer-events:none;
transition: width 0.6s ease,height 0.6s ease,background-color 0.3s ease;
z-index: 9999;
}
.card {
    border-radius: 15px;
    transition: transform 1s, box-shadow 0.3s, opacity 0.5s;
    opacity: 0.7;
}
.card:hover {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.5); 
    opacity: 1;
}
@media (max-width: 800px) {
    .card {
        opacity: 1;
    }

}

footer a:not(i):hover {
    color: #007bff; 
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}


footer a i:hover {
    color: #000000;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.animated-title span {
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
}

.animated-title span.active {
    transform: scale(1.5);
    color: aqua;
}
